#Elas {
    width: 300px;
    height: 300px;
    padding-left: 60px;
}


#Anna {
    width: 300px;
    height: 300px;
}

#Ariel {
    width: 300px;
    height: 300px;
}

#Rapunzel {
    width: 300px;
    height: 300px;
}




#Jasmine{
    width: 300px;
    height: 300px;
    padding-left: 60px;
    padding-top: 10px;
}

#Cinderella {
    width: 300px;
    height: 300px;
}

#belle {
    width: 300px;
    height: 300px;
}

#sleepingbeauty {
    width: 300px;
    height: 300px;
}

#Merida{
    width: 300px;
    height: 300px;
    padding-left: 60px;
    padding-top: 10px;
}

#Mulan{
    width: 300px;
    height: 300px;
}

#sofia{
    width: 300px;
    height: 300px;
}

#Tiana {
    width: 300px;
    height: 300px;
}

#DisneyPrincess {
    width: 999px;
    height: 500px;
    padding-left: 200px;
}

h1 {
    text-align: center;
}
